{{ define "awards" }}

\resumeProjectHeading
    {\textbf{HackEurope'26 Scholar}, Paris $|$ \emph{Selected for full scholarship by \textbf{SIG}, \textbf{Anthropic}, and \textbf{Warwick}}}{Mar. 2026}

\resumeProjectHeading
    {\textbf{Track Runner Up}, Imperial College London ICHack $|$ \emph{Tackled \textbf{HRT's} Big Data challenge}}{Feb. 2026}
        
\resumeProjectHeading
    {\textbf{Global Merit Scholar} $|$ \emph{Competitive scholarship for study abroad at \textbf{Northwestern University}, USA}}{2024}

\resumeProjectHeading
        {\textbf{Published Researcher}, \textbf{ACM IUI'24} $|$ \emph{Paper on human-AI interaction}}{Sep. 2023}

\resumeProjectHeading
    {\textbf{Track Winner}, Cathay Pacific Hackathon $|$ \emph{Ranked 1st out of 1,000+ global applicants (Top 0.01\%)}}{Nov. 2023}

{{ end }}