{{ define "awards" }}
HackEurope'26 Scholar, Published to IEEE ICSE'27, Cathay Hackathon 2025 Finalist, Published to ACM IUI'24, Cathay Hackathon 2024 Winner, Study Abroad Scholarship in the USA, Undergraduate Entry Scholarship
{{ end }}
