{{ define "skills_default" }}
\textbf{Languages:} Python, C++, C, Go, Typescript, Javascript, SQL, HTML, CSS \\
\textbf{Frameworks/Libraries:} React.js, Next.js, ROS2, FastAPI \\
\textbf{Databases:} MongoDB, PostgreSQL, MySQL, SQLite, Redis\\
\textbf{Developer Tools:} Docker, Git, REST, Make, Nix, NGINX, Azure, AWS, Github Actions CI/CD
{{ end }}
