{{ define "skills_default" }}
\begin{itemize}[leftmargin=0.15in, label={}]
    \small{\item{
     \textbf{Languages}{: C++, Python, Go, C, TypeScript, SQL, JavaScript, HTML/CSS} \\
     \textbf{Frameworks \& Libraries}{: GTest, CMake, FastAPI, LangGraph, Pydantic, Celery, ROS2} \\
     \textbf{Databases}{: MongoDB, PostgreSQL, MySQL, SQLite, Redis} \\
     \textbf{Tools \& Cloud}{: Docker, Nix, Azure, AWS, GitHub Actions, NGINX, Make, Git}
    }}
\end{itemize}
{{ end }}
