{{ define "skills_default" }}
\textbf{Languages:} C++, Go, Python, C, Typescript, Javascript, SQL, HTML, CSS \\
\textbf{Frameworks/Libraries:} GTest, CMake, FastAPI, React.js, Next.js \\
\textbf{Databases:} MongoDB, PostgreSQL, MySQL, SQLite, Redis \\
\textbf{Developer Tools:} Nix, Docker, Git, REST, Make, NGINX, Azure, AWS, Github Actions CI/CD
{{ end }}
