{{ define "work_hci_init_2022" }}
\resumeSubheading
  {Research Assistant}{Jun. 2022 -- Aug. 2022}
  {HCI Initiative, HKUST}{Hong Kong SAR}
  \resumeItemListStart
    \resumeItem{Engineered a real-time telemetry and metrics pipeline processing 50K+ events/session, enabling analysis across 4K+ user interactions in large-scale experiments}
    \resumeItem{Architected a modular React + TypeScript frontend using custom hooks and Tailwind CSS, improving component reusability and streamlining development across multiple research interfaces}
    \resumeItem{Contributed to FARPLS, a feature-augmented preference learning system that improved label quality and user engagement without increasing cognitive load (published at ACM ICMI/IUI)}
  \resumeItemListEnd
{{ end }}


% \textbf{Software Engineering Intern,} {\small HCI Initiative, HKUST} -- Hong Kong SAR \hfill Jun 2022 -- Aug 2022 \\
% \vspace{-9pt}
% \begin{itemize}
%   \item Built internal TypeScript framework to standardize build systems and component architecture across projects
%   \item Developed a real‑time telemetry pipeline to capture high‑frequency interaction data for large‑scale experiments
%   \item Instrumented a metrics system that collected 50K+ events per session, enabling structured performance analysis for published research
% \end{itemize}