{{ define "work_hkust_castle_2024" }}
\textbf{Software Engineering Intern,} {\small CASTLE Lab, HKUST} -- Hong Kong SAR \hfill May 2024 -- Sept 2024 \\
\vspace{-9pt}
\begin{itemize}
    \item Engineered Python and Java static-analysis pipelines to extract semantic signals from 30k+ scraped Github repositories to inform research in LLM-assisted testcase generation
    \item Parsed multi-million-line codebases into ASTs and CFGs via Tree-sitter, javalang and Spoon, emitting lightweight IRs to profile assertion quality and generate statistics
    \item Increased usable assertion coverage by 3.2x and reduced per-project analysis time by 45\%, unlocking large-scale automated assertion generation experiments, slated for publication in ACM ICSE'27
\end{itemize}
{{ end }}
