{{ define "work_hkust_castle_2024" }}
\resumeSubheading
  {CASTLE Labs}{May 2024 -- Sep. 2024}
  {Research Assistant}{Hong Kong SAR}
  \resumeItemListStart
    \resumeItem{Built a Java static-analysis platform with Spoon to analyze JUnit test suites in over 30k repositories}
    \resumeItem{Developed graph-based analysis pipelines to model Java code structure, dependency relationships, control flow, and API interactions across multi-million-line codebases, generating minimally runnable unit test contexts}
    \resumeItem{Automated build workflows for Maven and Gradle projects using Nix, generating over 35k usable assertions}
  \resumeItemListEnd
{{ end }}