{{ define "work_hkust_castle_2024" }}
\resumeSubheading
  {Research Assistant}{May 2024 -- Sep. 2024}
  {CASTLE Lab, HKUST}{Hong Kong SAR}
  \resumeItemListStart
    \resumeItem{Engineered high-throughput semantic-analysis pipelines in Python and Java to extract semantic signals from 30k+ scraped GitHub repositories to inform research in LLM-assisted testcase generation}
    \resumeItem{Integrated Tree-sitter to parse multi-million-line codebases into ASTs and CFGs, converting complex source code into lightweight, queryable intermediate representations}
    \resumeItem{Optimized this parsing logic to cut per-project analysis time by 45\%, ultimately increasing usable data yield by 3.2x to support large-scale experiments, slated for publication in ACM ICSE'27}
  \resumeItemListEnd
{{ end }}
