{{ define "work_stellerus_swe_2023" }}
\resumeSubheading
  {Stellerus Technology}{May 2023 -- Aug. 2023}
  {Software Engineering Intern}{Hong Kong SAR}
  \resumeItemListStart
    % \resumeItem{Developed RESTful APIs using FastAPI and MongoDB to orchestrate multi-user task queues for live satellite data, designed to sustain throughput of 8,000+ requests/sec with \textless150ms latency and minimal queue times}
    \resumeItem{Developed RESTful APIs with FastAPI and MongoDB for multi-user task queues for live satellite data queries}
    \resumeItem{Designed the system to sustain over 8,000 requests per second with sub-150ms latency and minimal queue times, meeting the required performance benchmarks}
    \resumeItem{Parallelized CPU-bottlenecked operations via a Celery/Redis worker pool, reducing processing time by 34\%}
    \resumeItem{Partnered with frontend team to containerize the SPA and backend using Docker and orchestrated automated CI/CD pipelines for Azure Container Apps, cutting deployment time by 20\%}
  \resumeItemListEnd
{{ end }}
