{{ define "work_stellerus_swe_2023" }}
\textbf{Software Engineering Intern,} {\small Stellerus Technology} -- Hong Kong SAR \hfill May 2023 -- Aug 2023 \\
\vspace{-9pt}
\begin{itemize}
    \item Architected a FastAPI and MongoDB backend to orchestrate multi-user task queues connected to our live satellites, rendering and delivering geospatial tiles at 8,000+ requests/sec with <150ms latency
    \item Parallelized CPU-bound GDAL operations via a Celery/Redis worker pool, cutting processing time by 34\%
    \item Dockerized services and built CI/CD pipelines for Azure Container Apps, cutting deployment time by 20\%
\end{itemize}
{{ end }}
