{{ define "work_stellerus_swe_2023" }}
\resumeSubheading
  {Software Engineering Intern}{May 2023 -- Aug. 2023}
  {Stellerus Technology}{Hong Kong SAR}
  \resumeItemListStart
    \resumeItem{Developed RESTful APIs using FastAPI and MongoDB to orchestrate multi-user task queues for live satellite data, designed to sustain throughput of 8,000+ requests/sec with \textless150ms latency and minimal queue times}
    \resumeItem{Parallelized CPU-bottlenecked operations via a Celery/Redis worker pool, reducing processing time by 34\%}
    \resumeItem{Partnered with frontend team to containerize the SPA and backend using Docker and orchestrated automated CI/CD pipelines for Azure Container Apps, cutting deployment time by 20\%}
  \resumeItemListEnd
{{ end }}
