{{ define "work_stellerus_swe_2023" }}
\resumeSubheading
  {Software Engineering Intern}{May 2023 -- Aug. 2023}
  {Stellerus Technology}{Hong Kong SAR}
  \resumeItemListStart
    \resumeItem{Architected a FastAPI and MongoDB backend to orchestrate multi-user task queues for live satellite data, sustaining throughput of 8,000+ requests/sec with \textless150ms latency and minimal queue times}
    \resumeItem{Parallelized CPU-bottlenecked operations via a Celery/Redis worker pool, reducing processing time by 34\%}
    \resumeItem{Streamlined infrastructure by Dockerizing backend services and building automated CI/CD pipelines for Azure Container Apps, cutting deployment time by 20\%}
  \resumeItemListEnd
{{ end }}
