\input{preamble}
\input{commands}
\begin{document}

%----------HEADING----------
\begin{center}
    \textbf{\Huge \scshape {{ .Identity.Name }}}} \\ \vspace{1pt}
    \small {{ .Identity.Phone }} $|$ \href{mailto:{{ .Identity.Email }}}{\underline{{{ .Identity.Email }}}} $|$ 
    \href{https://{{ .Identity.LinkedIn }}}{\underline{{{ .Identity.LinkedIn }}}} $|$
    \href{https://{{ .Identity.Github }}}{\underline{{{ .Identity.Github }}}}
\end{center}

{{ range .Sections }}
    {{ $section := . }}
    \section{ {{ .Title }} }
    \resumeSubHeadingListStart
    {{ range .Entries }}
        {{ . }}
        % {{ $section.EntryVSpaceTex }}
    {{ end }}
    % {{ .SectionVSpaceTex }}
    \resumeSubHeadingListEnd
{{ end }}

\end{document}