\documentclass[11pt]{article}
\input{preamble}
\begin{document}

\centerline{\Huge {{ .Identity.Name }}}
\vspace{5pt}
\centerline{
    \href{mailto:{{ .Identity.Email }}}{ {{ .Identity.Email }} } |
    \href{https://www.{{ .Identity.LinkedIn }}}{ {{ .Identity.LinkedIn }} } |
    \href{https://{{ .Identity.Github }}}{ {{ .Identity.Github }} }
}

\vspace{-18pt}

{{ range .Sections }}
    {{ $section := . }}
    \section*{ {{ .Title }} }
    {{ range .Entries }}
        {{ . }}
        {{ $section.EntryVSpaceTex }}
    {{ end }}
    {{ .SectionVSpaceTex }}
{{ end }}

\end{document}