{{ define "proj_dissertation" }}
\resumeProjectHeading
  {\textbf{MSc Dissertation - Invariants} $|$ \emph{C++, Google Test Suite, CMake, Python}}{\href{https://github.com/ujaandas/invariants/}{\underline{Github}}}
  \resumeItemListStart
    % \resumeItem{Engineering a specification DSL using semantic invariants and refinement types to guide LLM decoding via verifiable runtime constraints}
    \resumeItem{Applying formal systems theory to LLMs for improved structured output generation via runtime constraints}
    \resumeItem{Architecting a C++ DSL and compiler with Python bindings for seamless integration into inference pipelines}
  \resumeItemListEnd
{{ end }}
