{{ define "proj_dissertation" }}
\resumeProjectHeading
  {\textbf{MSc Dissertation - Invariants} $|$ \emph{C++, Gtest, CMake, Python, Pybind11, Nix}}{\href{https://github.com/ujaandas/dissertation/}{GitHub}}
  \resumeItemListStart
    \resumeItem{Engineered a specification DSL using semantic invariants and refinement types to guide LLM decoding via verifiable runtime constraints}
    \resumeItem{Architected a C++ compilation runtime with Python bindings for seamless integration into inference pipelines, enforcing schema compliance with 30ms overhead}
  \resumeItemListEnd
{{ end }}
