{{ define "proj_follow_me_robot" }}
\textbf{Undergraduate Final Year Project - Follow-Me Robot}
\hfill \href{https://github.com/KnyghtEkkeherd/FinalYearProject}{Github} \\
\vspace{-9pt}
\begin{itemize}
    \item Real-time UWB tracking system with custom ROS2 Python/C++ nodes, implementing multi-rate filtering (jump/Kalman/EMA) and Nav2 integration for stable sub-cm localization under noisy sensor conditions
\end{itemize}
{{ end }}
