{{ define "proj_follow_me_robot" }}
\resumeProjectHeading
  {\textbf{Undergraduate FYP - Follow-Me Robot} $|$ \emph{C++, Python, ROS2, Raspberry Pi, Docker}}{\href{https://github.com/KnyghtEkkeherd/FinalYearProject}{GitHub}}
  \resumeItemListStart
    \resumeItem{Developed a real-time UWB tracking system via custom ROS2 Python/C++ nodes, applying multi-rate Kalman and EMA filtering for stable sub-centimeter localization under noisy conditions}
  \resumeItemListEnd
{{ end }}
