{{ define "proj_follow_me_robot" }}
\textbf{Undergraduate FYP - Follow-Me Robot} | \textit{C++, Python, ROS2, Raspberry Pi, Docker}
\hfill \href{https://github.com/KnyghtEkkeherd/FinalYearProject}{Github} \\
\vspace{-9pt}
\begin{itemize}
    \item Developed a real-time UWB tracking system via custom ROS2 Python/C++ nodes, implementing multi-rate Kalman and EMA filtering to achieve stable sub-centimeter localization under noisy sensor conditions
\end{itemize}
{{ end }}
