{{ define "proj_oojsite" }}
\resumeProjectHeading
  {\textbf{oojsite} $|$ \emph{Go, HTML, TailwindCSS, Nix}}{\href{https://github.com/ujaandas/oojsite}{\underline{Github}}}
  \resumeItemListStart
    \resumeItem{Built a minimalist static site generator in Go (text/template) that compiles Markdown into composable HTML with reusable components, enabling fast, dependency-free blog generation}
  \resumeItemListEnd
{{ end }}