{{ define "proj_oojsite" }}
\resumeProjectHeading
  {\textbf{oojsite} $|$ \emph{Go, HTML, TailwindCSS, Nix}}{\href{https://github.com/ujaandas/oojsite}{\underline{Github}}}
  \resumeItemListStart
    \resumeItem{Built a static site generator in Go to compile Markdown into composable HTML, actively used for \href{https://ujaan.me}{\underline{my blog}}}
  \resumeItemListEnd
{{ end }}