{{ define "proj_snip" }}
\resumeProjectHeading
  {\textbf{Snip} $|$ \emph{C++, Termios, Gtest, CMake, Nix}}{\href{https://github.com/ujaandas/snip}{\underline{Github}}}
  \resumeItemListStart
    \resumeItem{Architected an async C++ TUI framework and Vim-style modal editor with a thread-safe, non-blocking event pipeline and background worker pools for deferred execution}
    \resumeItem{Integrated native LSP tooling for real-time diagnostics and built hermetic, reproducible environments via Nix for cross-platform consistency}
  \resumeItemListEnd
{{ end }}
