{{ define "proj_snip" }}
\textbf{Snip} | \textit{C++, Termios, Gtest, CMake, Nix}
\hfill \href{https://github.com/ujaandas/snip}{Github} \\
\vspace{-9pt}
\begin{itemize}
    \item Architected an async C++ TUI framework and Vim-style modal editor, engineering a thread-safe, non-blocking event-consumer pipeline with background worker pools for deferred command execution
    \item Integrated native LSP tooling for real-time diagnostics and configured hermetic, reproducible per-project environments configurable via Nix, ensuring system-agnostic cross-platform build consistency
\end{itemize}
{{ end }}
