{{ define "proj_snip" }}
\textbf{Snip}
\hfill \href{https://github.com/ujaandas/snip}{Github} \\
\vspace{-9pt}
\begin{itemize}
    \item Asynchronous C++ TUI framework with event-consumer model runtime, and Vim-style modal editor with an optimized rendering pipeline, integrated LSP tooling, and reproducible Nix-based development environments
\end{itemize}
{{ end }}
