{{ define "proj_terraviz" }}
\resumeProjectHeading
  {\textbf{terraviz} $|$ \emph{Next.js, React, TypeScript, CesiumJS, TailwindCSS}}{\href{https://devpost.com/software/terravysers}{DevPost}}
  \resumeItemListStart
    \resumeItem{Built an interactive geospatial web platform in Next.js and React, enabling region-based exploration of climate and land-use data through real-time, user-driven interfaces}
    \resumeItem{Developed a 3D visualization layer with CesiumJS to render and overlay satellite, soil, and climate datasets, transforming raw geospatial data into actionable maps and insights}
  \resumeItemListEnd
{{ end }}