{{ define "proj_terraviz" }}
\resumeProjectHeading
  {\textbf{TerraViz} $|$ \emph{Next.js, React, TypeScript, CesiumJS, TailwindCSS}}{\href{https://devpost.com/software/terravysers}{\underline{DevPost}}}
  \resumeItemListStart
    \resumeItem{Built an interactive geospatial platform in Next.js/React for real-time exploration of climate and land-use data}
    \resumeItem{Developed a 3D CesiumJS visualization layer to render multi-source geospatial data into actionable maps}
  \resumeItemListEnd
{{ end }}