{{ define "proj_yumcha" }}
\resumeProjectHeading
  {\textbf{yumcha} $|$ \emph{Go, C, CGo, Cocoa, Nix}}{\href{https://github.com/ujaandas/yumcha}{\underline{Github}}}
  \resumeItemListStart
    \resumeItem{Engineered a macOS tiling window manager in Go and C using Cocoa/CoreGraphics, implementing an i3-style tree layout engine for dynamic, scriptable window management without disabling SIP}
  \resumeItemListEnd
{{ end }}
