{{ define "proj_yumcha" }}
\textbf{yumcha} | \textit{Go, C, CGo, Cocoa, Nix}
\hfill \href{https://github.com/ujaandas/yumcha}{Github} \\
\vspace{-9pt}
\begin{itemize}
    \item Engineered a macOS tiling window manager in Go and C using Cocoa/CoreGraphics, implementing an i3-style tree layout engine for dynamic, scriptable window management without disabling SIP
\end{itemize}
{{ end }}
