{{ define "proj_yywm" }}
\textbf{yywm}
\hfill \href{https://github.com/ujaandas/yywm}{Github} \\
\vspace{-9pt}
\begin{itemize}
    \item Tiling window manager for macOS written in C++, using Cocoa/CoreGraphics and an i3-style tree layout engine for dynamic, scriptable window management without needing to disable SIP
\end{itemize}
{{ end }}
