{{ define "edu_hs1" }}
\resumeSubheading
    {West Island School}{Hong Kong SAR}
    {International GCSE (English A\*\/A, Maths 8, Science 9, Art 7, Business B, CS A, Spanish A, GP A)}{Sep. 2017 -- May 2019}
{{ end }}
