{{ define "edu_hs" }}
\resumeSubheadingTwoDeg
    {West Island School}{Hong Kong SAR}
    {International Baccalaureate (41/45; HL: Computer Science, Physics, Psychology)}{Sep. 2019 -- May 2021}
    {iGCSEs (English (A*), Mathematics (8), Sciences (9); Art (7), Business Studies (B), Computer Science (A), Spanish (A), Global Perspectives (A))}{Sep. 2017 -- May 2019}
{{ end }}
