{{ define "edu_hs" }}
\resumeSubheadingTwoDeg
    {West Island School}{Hong Kong SAR}
    {International Baccalaureate (41/45, HL CS, Phy., Psych.)}{Sep. 2019 -- May 2021}
    {iGCSE (English A*, Maths 8, Sci. 9, Art 7, BS B, CS A, Spa. A, GP A)}{Sep. 2017 -- May 2019}
{{ end }}
